body {background-color: LightBlue;}
h2 {color: firebrick}
h3 {color: firebrick}
table {background-color:lightgray; border: 1px solid red; margin:50px; padding: 15px}
ul {font-family: verdana; font-size:20px}